{% extends 'bootstrap/base.html' %}

 {%- block head %}
 <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Time Tracker</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<style type="text/css">
   .bs-example{
       margin: 20px;
       margin-left: 55px;
       margin-top:5px;
       float:left;  padding:20px;
   }
   .footer {
     position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-left: 95px;
  padding-right: 110px;
   }

</style>

 {%- endblock head %}

{% block navbar %}
    {% include '_navbar.html' %}

{% endblock %}


    {% block content %}


    {% endblock %}
    {% block scripts %}
    

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        {%- endblock scripts %}
